<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.camera.any" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name="com.appsimple.billrecognition.BillScanActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
        <meta-data
            android:name="org.godotengine.plugin.v2.BillRecognitionPluginV2"
            android:value="com.appsimple.billrecognition.BillRecognitionPlugin" />
    </application>
</manifest>
